pymupdf
langchain
python-dotenv
langchain_community
pypdf 
langchain-text-splitters
langchain_huggingface
langchain_chroma
PyPDF2
chromadb
ipykernel
cassio
transformers 
sentence-transformers
zipfile
peft
torch
deepmultilingualpunctuation
datasets